#main {
  background-color: lightyellow;
}

#title {
  font-family: monospace;
  text-align: center;
}

#img-div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

#image {
  height: auto;
  max-width: 100%;
}

#tribute-info {
  font-family: monospace;
  text-align: left;
}
